
body{
  background: gray;
}
*{
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: Garamond, serif;
  /* background: black; */

}
.container{
  display: grid;
  grid-template-columns: 270px auto auto;
  grid-template-rows: auto auto auto;
  height: 100vh;
  width: 60%;
  margin-left: 300px;

  background-color:  white;
  padding: 0px;

}
.sidelayout{
  grid-area: 1/1/5/2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 2px;

  background-color:  black;
  color:white
}
img{
  position: relative;
  left:20px;
  top:20px;
  margin: auto;
  border: 5px solid #0066ff;
  border-radius: 130px;
}
.sidelayout > .image{
  background-color:  black;
  grid-area: 1/1/2/2;
    color:white

  /* background-color: black ; */
}

.sidelayout > .aboutme{
  background-color:  black;
  grid-area: 2/1/3/2;
    color:white;
    text-align: center;
  /* border-bottom: 2px solid black; */
  /* background-color: black; */

}
#aboutme_txt{
  position: relative;
  top:15px;
  left: 10px;
  color: white;
  text-align: left;
}

.sidelayout > .contactme{
  grid-area: 3/1/4/2;
  background-color:  black;
  text-align: center;

  /* background-color: black; */
  margin-bottom: 25px;
}
#side_contact{
  position: relative;
  top:15px;
  left: 0px;

}
#side_contact > li{
  padding: 7px;
  color: white;
  text-align: left;
}
.experience{
  grid-area: 1/2/2/3;
  background-color: #262626;
  text-align: left;
  /* border: 2px solid black; */
  /* background-color: black; */
}
#exp_content{
  position: relative;
  top:10px;
  left: 10px;
  text-align: left;
}
#edu_content{
  position: relative;
  top:10px;
  left: 10px;
  text-align: left;
}
.education{
  grid-area: 1/3/2/4;
  background-color:

 #262626;
  /* background-color: black; */
}
.programmingskills{
  grid-area: 2/2/3/4;
  background-color:

 #262626;
  /* background-color: black; */
  }
.intrests{
  grid-area:3/2/4/4;
  background-color:#262626;
  text-align: left;
  /* background-color: black; */
  padding-bottom: 90px;
}
.icons li{
  top:20px;
  left: 15px;
  position:relative;
  float: left;
  padding: 40px;
}
.icons i:hover{
  color: white;
  transform: rotate(-25deg);
  /* transform: rotateY(45deg); */
}
.icons > li > i{

}
/* .labels li{
  position: relative;
  display: inline-block;
  right:60px;
  top:50px;
  float: left;
} */

.pskills_bar
{
  background-color:

 #262626;
display: grid;
grid-template-columns: 200px auto;
}
#heading{
  position: relative;
  left: 10px;
  margin-bottom:10px;
  padding: 10px;
  border-bottom: 3px solid #0066ff;
  display: inline-block;
  color: white;
}
#a_heading,#c_heading{
  color: white;
  border-bottom: 3px solid #0066ff;
  display: inline-block;

}
li{
  list-style-type: none;
  padding: 12px;
  margin-left: 20px;
  text-align: left;
  font-weight: bold;
}
#progress_bar > li
{
  position: relative;
  top: 10px;
  margin-bottom: 20px;
  padding:0px;
  border-bottom: 4px solid #0066ff;
  border-radius: 0px;
}
li:hover{
  border-bottom:1px solid white;
}
.bar1{
  width: 80%;
}
.bar2{
  width: 86%;
}
.bar3{
  width: 90%;
}
.bar4{
  width: 75%;
}
.bar5{
  width: 90%;
}
.percentage{
  position:relative;
  left: 15px;
  color: #0066ff
;
  font-weight: bolder;
}
i{
color: #0066ff;
}
